@reference '../../globals.css';

.btn {
	@apply cursor-pointer inline-flex justify-center items-center;
	@apply transition-colors;
}

.btn:disabled {
	@apply cursor-not-allowed;
}

.btn-primary,
.btn-secondary {
	@apply py-1 px-2 border-2 border-solid rounded-lg;
}

.btn-primary {
	@apply bg-primary border-primary text-white;
}

.btn-primary:hover {
	@apply bg-primary-hover border-primary-hover;
}

.btn-primary:hover:disabled {
	@apply bg-primary border-primary;
}

.btn-primary:active {
	@apply bg-primary-active border-primary-active;
}

.btn-secondary {
	@apply text-primary border-primary bg-white;
}

.btn-secondary:hover {
	@apply text-primary-hover border-primary-hover bg-gray-50;
}

.btn-secondary:hover:disabled {
	@apply text-primary border-primary bg-white;
}

.btn-secondary:active {
	@apply text-primary-active border-primary-active bg-gray-100;
}
