@reference '../../../../../globals.css';

.input-container {
	@apply flex flex-col items-start w-full;
}

.img-file-container {
	@apply flex flex-row items-center gap-1;
}

.icon-button {
	@apply text-primary hover:text-primary-hover;
}

.new-logo-input-container {
	@apply flex flex-col gap-4 mt-2 w-full;
}

.new-logo-input-container .btn {
	@apply w-fit;
}

.picture-list {
	@apply flex flex-col mb-2;
}

.picture-list-item {
	@apply ml-2;
	@apply flex flex-row items-center;
}

.picture-list-item-title {
	@apply grow text-primary;
}

.picture-marked-to-delete {
	@apply line-through;
}

.file-button {
	@apply m-1 text-primary hover:underline;
}
