@reference '../../../globals.css';

.file-input > input[type='file'] {
	@apply opacity-0 absolute -z-10;
}

.file-input {
	@apply cursor-pointer;
	@apply w-full p-10 block;
	@apply border-4 border-dashed border-primary rounded-xl;
	@apply hover:bg-md-grey-200 dark:hover:bg-md-grey-800/25 transition-colors;
	@apply text-primary font-semibold text-xl;
	@apply flex flex-col justify-center items-center;
}
