@reference '../../../../../../globals.css';
/* header */

.app-header {
	@apply flex flex-col items-center justify-between gap-2;
	@apply sm:flex-row w-full mt-4 mb-2 sm:mb-4;
}

.app-banner {
	@apply grid grid-flow-col grid-cols-6 gap-2 sm:gap-4 items-center w-full;
	@apply sm:flex;
}

.download-container {
	@apply sm:w-fit w-full flex flex-col sm:items-center items-start gap-0.5;
}

.download-btn {
	@apply text-lg flex gap-2 flex-row-reverse pr-3 items-center;
	@apply sm:text-2xl sm:px-4 sm:py-2 w-full;
}

.formatted-date-label {
	@apply text-gray-500 text-sm italic whitespace-nowrap;
}

.logo-container {
	@apply col-span-2 w-full flex justify-center;
	@apply sm:w-fit;
}

/* main */

.app-details {
	@apply w-full sm:text-lg whitespace-pre-line flex flex-col gap-2 sm:gap-4 mb-2;
}
