.img-container {
	@apply w-full h-80 flex gap-1 items-center justify-start overflow-x-auto;
	height: calc(20rem + 100vw - 100%);
}

.img-container img {
	@apply max-h-80 w-auto;
	max-height: 20rem;
}

.spinner-container {
	@apply absolute w-full h-full flex justify-center items-center;
}

img {
	max-width: 90%;
	max-height: 100%;
}

.img-nav-btn {
	@apply text-gray-600 hover:text-gray-700 cursor-pointer;
}
